@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.navbar hr {
    display: none;
}

.barter-bage-color {
    background-color: #36572A;
}

.barter-bage-color-text {
    color: #36572A;
}

.barter-bage-color:hover {
    background-color: #2b501e;
}

.navbar .btn-hover, .navbar .barter-bage-color {
    transition: .5s;
}

.btn-hover:hover {
    background-color: rgb(236, 236, 236);
}

.btn-active {
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(236, 236, 236) !important;
}

.title-cta {
    font-weight: bold;
    font-size: 48px;
}

.title-cta span {
    color: #36572A;
}

.home-img {
    width: 450px;
}

.middle-home:hover {
    background-color: rgb(236, 236, 236);
}

.auth-form {
    width: 32rem;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        margin-left: 0 !important;
        gap: 0 !important;
    }

    .navbar hr {
        display: block;
        border: 0.5px solid rgb(116, 116, 116);
    }

    .navbar-nav .barter-bage-color {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .title-cta {
        font-size: 32px;
    }

    .home-img {
        display: none;
    }

    .auth-form {
        width: 100%;
    }

    .bottom-footer {
        text-align: center;
    }

    .top-footer .col-md-2 {
        margin-top: 16px;
    }
}