@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.navbar hr {
    display: none;
}

.barter-bage-color {
    background-color: #36572A;
}

.barter-bage-color-text {
    color: #36572A;
}

.barter-bage-color:hover {
    background-color: #2b501e;
}

.navbar .btn-regis, .navbar .barter-bage-color {
    transition: .5s;
}

.btn-regis:hover {
    background-color: rgb(236, 236, 236);
}

.title-cta {
    font-weight: bold;
    font-size: 48px;
}

.title-cta span {
    color: #36572A;
}

.home-img {
    width: 450px;
}

.middle-home {
    background-color: #b4dd7e;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        margin-left: 0 !important;
        gap: 0 !important;
    }

    .navbar hr {
        display: block;
        border: 0.5px solid rgb(116, 116, 116);
    }

    .navbar-nav .btn-primary {
        margin-top: 8px;
    }

    .title-cta {
        font-size: 32px;
    }

    .home-img {
        display: none;
    }

    .bottom-footer {
        text-align: center;
    }

    .top-footer .col-md-2 {
        margin-top: 16px;
    }
}